<br>
<footer class="brown darken-4 page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s6 grey-text">
                    © 2020 Nikola's Books titti i diritti riservati
                </div>
                <div class="col s6">
                    <%= link_to "Chi Sono", about_path, class: "white-text right" %>
                </div>
            </div>
        </div>
    </div>
</footer>